urlextract
urllib3
bs4
cssbeautifier
jsbeautifier
chardet
pywebview
logging
html5lib
pygame
pygame-textinput
pillow
python-magic-bin; sys_platform != "linux"
python-magic; sys_platform == "linux"
psutil
asyncio
pyinstaller